USE [Jep_Construction]
GO
/****** Object:  Table [dbo].[ClientFeedback]    Script Date: 9/7/2025 4:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientFeedback](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Feedback] [varchar](max) NOT NULL,
	[DateTimeCreated] [datetime2](7) NOT NULL,
	[DateTimeUpdated] [datetime2](7) NULL,
 CONSTRAINT [PK_ClientFeedback] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientRequest]    Script Date: 9/7/2025 4:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientRequest](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectName] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[Message] [varchar](max) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[DateTimeCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ClientRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeAttendance]    Script Date: 9/7/2025 4:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAttendance](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[TimeIn] [datetime2](7) NOT NULL,
	[TimeOut] [datetime2](7) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[DateTimeCreated] [datetime2](7) NOT NULL,
	[DateTimeUpdated] [datetime2](7) NULL,
 CONSTRAINT [PK_EmployeeAttendance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeePayslip]    Script Date: 9/7/2025 4:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeePayslip](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[Period] [varchar](20) NULL,
	[RegBasic] [decimal](18, 2) NULL,
	[Tardy] [decimal](18, 2) NULL,
	[Undertime] [decimal](18, 2) NULL,
	[Absent] [decimal](18, 2) NULL,
	[Overtime] [decimal](18, 2) NULL,
	[IsEnabled] [bit] NOT NULL,
	[DateTimeCreated] [datetime2](7) NOT NULL,
	[DateTimeUpdated] [datetime2](7) NULL,
 CONSTRAINT [PK_EmployeePayslip] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 9/7/2025 4:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[ItemName] [varchar](255) NOT NULL,
	[Category] [varchar](255) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitOfMeasure] [varchar](50) NOT NULL,
	[ReOrderLevel] [int] NOT NULL,
	[ReOrderQuantity] [int] NOT NULL,
	[Description] [varchar](1000) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[DateTimeCreated] [datetime2](7) NOT NULL,
	[DateTimeUpdated] [datetime2](7) NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 9/7/2025 4:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[SenderId] [bigint] NOT NULL,
	[ReceiverId] [bigint] NULL,
	[Message] [varchar](max) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[DateTimeCreated] [datetime2](7) NOT NULL,
	[DateTimeUpdated] [datetime2](7) NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectManagement]    Script Date: 9/7/2025 4:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectManagement](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Budget] [decimal](18, 2) NULL,
	[Location] [varbinary](255) NULL,
	[Description] [varchar](max) NULL,
	[CompletionStatus] [float] NULL,
	[IsEnabled] [bit] NOT NULL,
	[DateTimeCreated] [datetime2](7) NOT NULL,
	[DateTimeUpdated] [datetime2](7) NULL,
 CONSTRAINT [PK_ProjectManagement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/7/2025 4:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nchar](10) NULL,
	[EmployeeNumber] [varchar](50) NULL,
	[Name] [nchar](10) NULL,
	[MobileNumber] [varchar](20) NULL,
	[Position] [varchar](20) NULL,
	[Salary] [decimal](18, 2) NULL,
	[Status] [varchar](20) NULL,
	[Password] [varchar](max) NULL,
	[Address] [nchar](10) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[UserType] [varchar](50) NULL,
	[ProfileImage] [varchar](max) NULL,
	[IsEnabled] [bit] NULL,
	[DateTimeCreated] [datetime2](7) NOT NULL,
	[DateTimeUpdated] [datetime2](7) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClientRequest] ADD  CONSTRAINT [DF_ClientRequest_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[EmployeeAttendance] ADD  CONSTRAINT [DF_EmployeeAttendance_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[EmployeePayslip] ADD  CONSTRAINT [DF_EmployeePayslip_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[Message] ADD  CONSTRAINT [DF_Message_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[ProjectManagement] ADD  CONSTRAINT [DF_ProjectManagement_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[ClientFeedback]  WITH CHECK ADD  CONSTRAINT [FK_ClientFeedback_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ClientFeedback] CHECK CONSTRAINT [FK_ClientFeedback_User]
GO
ALTER TABLE [dbo].[EmployeeAttendance]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAttendance_User] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[EmployeeAttendance] CHECK CONSTRAINT [FK_EmployeeAttendance_User]
GO
ALTER TABLE [dbo].[EmployeePayslip]  WITH CHECK ADD  CONSTRAINT [FK_EmployeePayslip_User] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[EmployeePayslip] CHECK CONSTRAINT [FK_EmployeePayslip_User]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_User]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_User]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_User1] FOREIGN KEY([SenderId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_User1]
GO
ALTER TABLE [dbo].[ProjectManagement]  WITH CHECK ADD  CONSTRAINT [FK_ProjectManagement_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ProjectManagement] CHECK CONSTRAINT [FK_ProjectManagement_User]
GO
